.listing-container {
  border: 1px solid burlywood;
  background-color: #282c34;
  .list-item {

    text-align: left;
    padding-left: 10px;

    .list-item-text {
      font-size: 10px;
      font-family: "Courier New", "Arial";
      color: #C3712F;
    }

  }
}
