.nav-bar {
  width: 100%;
  border: 0.2px solid slategrey;
  display: flex;
  height: 60px;
  min-height: 6vh; // viewport height
  background-color: #222222;
  z-index: 100;
  padding-left: 15px;
  padding-right: -15px;
  .nav-bar-button {
    min-width: 100px;
    display: inline-block;
    color: #FFFFFF;
    font-size: 1.1em;
    line-height: 21px;
    &:hover {
      color: #C3712F;
    }
  }
}


.header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row nowrap;
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-flow: row nowrap;
}

