.home {
  text-align: center;
}

.body-layout-master {
  position: relative;
  height: min-content;
  min-height: 84vh; // viewport height
  background-color: floralwhite;
  .body-layout-row {
    display: flex;
    flex-wrap: wrap;
    .sidebar-container {
      margin: 0;
      box-sizing: border-box;
      border-right: 2.2px solid #28292c;
      background-color: floralwhite;
      height: 90vh;
    }
  }


}
