.body-layout-master {
  position: relative;
  height: min-content;
  min-height: 84vh; // viewport height
  background-color: floralwhite;
  .body-layout-row {
    display: flex;
    flex-wrap: wrap;
    .sidebar {
      border-right: 2.2px solid #28292c;
      background-color: #ffffff;
      height: 90vh;
    }
  }


  .separator {

    width: 100%;
    height: 1.2px;
    margin: 5px;
    background-color: #28292c;
    display: block;
  }
}
