.body-layout-master {
  border: 1px solid red;
  position: relative;
  height: min-content;
  min-height: 88vh; // viewport height
  .body-layout-row {
    border: 1px solid green;

    .body-layout-col {
      border: 1px solid orange;
    }
  }


  .separator {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1.2px;
    margin: 0;
    background-color: slategrey;
    display: block;
  }
}
