.sidebar {
  margin: 0;
  box-sizing: border-box;
  background-color: floralwhite;
  height: 90vh;
}


.separator {

  width: 100%;
  height: 1.2px;
  margin: 5px;
  background-color: #28292c;
  display: block;
}
